.ordersList {
    display: flex;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
    flex-wrap: wrap;

    border: 1px solid black;
}

.title {
    font-weight: 700;
    font-size: 1.2rem;
    display: block;
}